<% content_for :javascript do %>
  <%= javascript_include_tag 'grid.locale-en.js'%>
  <%= javascript_include_tag 'jquery.jqGrid.min.js'%>
  <%= javascript_include_tag 'controllers/system_locations'%>
  <%= javascript_include_tag 'controllers/n1_criterias'%>
  <%= javascript_include_tag 'controllers/system_stabilities'%>
  <%= javascript_include_tag 'controllers/application_uses'%>
  <%= javascript_include_tag 'controllers/probability_of_force_outages'%>
  <%= javascript_include_tag 'controllers/social_aspects'%>
<% end %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'ui.jqgrid.css' %>
<% end %>
<table id="system_locations"></table><br/>
<table id="n1_criterias"></table><br/>
<table id="system_stabilities"></table><br>
<table id="application_uses"></table><br/>
<table id="probability_of_force_outages"></table><br/>
<table id="social_aspects"></table><br/>
