<div class="grid_16">
  <dl>
    <div class="grid_7">
      <dt>Transformer Name</dt>
      <dd><%= " : " + @transformer.transformer_name %></dd>
    </div>
    <div class="grid_7">
      <dt>Equipment No.</dt>
      <dd><%= " : " + @transformer.egatsn %></dd>
    </div>
  </dl>
</div>

<div class="clear"></div>

<br/>

<div class="grid_16">
  <table>
    <thead>
      <tr>
        <th>Bushing</th>
        <th>%Bushing Factor</th>
        <th>Health Index Factor</th>
        <th>Condition</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>H1</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h1"), precision: 2) %></td>
        <td><%= @bushing_test.health_index_factor("h1") %></td>
        <td><%= condition_color(@bushing_test.health_index_factor("h1")) %></td>
        <td><%= @bushing_test.thai_test_date %></td>
      </tr>
      <tr>
        <td>H2</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h2"), precision: 2) %></td>
        <td><%= @bushing_test.health_index_factor("h2") %></td>
        <td><%= condition_color(@bushing_test.health_index_factor("h2")) %></td>
        <td><%= @bushing_test.thai_test_date %></td>
      </tr>
      <tr>
        <td>H3</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h3"), precision: 2) %></td>
        <td><%= @bushing_test.health_index_factor("h3") %></td>
        <td><%= condition_color(@bushing_test.health_index_factor("h3")) %></td>
        <td><%= @bushing_test.thai_test_date %></td>
      </tr>
      <tr>
        <td>H4</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h0"), precision: 2) %></td>
        <td><%= @bushing_test.health_index_factor("h0") %></td>
        <td><%= condition_color(@bushing_test.health_index_factor("h0")) %></td>
        <td><%= @bushing_test.thai_test_date %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clear"></div>

<br/>

<h4>กราฟแสดงความสัมพันธ์ระหว่าง %PowerFactor(C1) กับวันทดสอบ</h4>
<div id="power_factor_cor_20c_graph" style="width:900px;height:400px"></div>
<button id="reset_power_factor_cor_20c">Reset</button>

<br/>

<h4>กราฟแสดงความสัมพันธ์ระหว่าง %PowerFactor(C2) กับวันทดสอบ</h4>
<div id="power_factor_avg_graph" style="width:900px;height:400px"></div>
<button id="reset_power_factor_avg">Reset</button>

<br/>

<h4>กราฟแสดงความสัมพันธ์ระหว่าง %Capacitance(C1) กับวันทดสอบ</h4>
<div id="power_factor_avg_graph" style="width:900px;height:400px"></div>
<button id="reset_power_factor_avg">Reset</button>

<h4>กราฟแสดงความสัมพันธ์ระหว่าง %Capacitance(C2) กับวันทดสอบ</h4>
<div id="power_factor_avg_graph" style="width:900px;height:400px"></div>
<button id="reset_power_factor_avg">Reset</button>