<div class="grid_16">
  <dl>
    <div class="grid_7">
      <dt>Transformer Name</dt>
      <dd><%= " : " + @transformer.transformer_name %></dd>
    </div>
    <div class="grid_7">
      <dt>Equipment No.</dt>
      <dd><%= " : " + @transformer.egatsn %></dd>
    </div>
  </dl>
</div>

<div class="clear"></div>

<br/>

<div class="grid_16">
  <table>
    <thead>
      <tr>
        <th>Bushing</th>
        <th>%Bushing Factor</th>
        <th>Health Index Factor</th>
        <th>Condition</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>H1</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h1"), precision: 2) %></td>
      </tr>
      <tr>
        <td>H2</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h2"), precision: 2) %></td>
      </tr>
      <tr>
        <td>H3</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h3"), precision: 2) %></td>
      </tr>
      <tr>
        <td>H4</td>
        <td><%= number_with_precision(@bushing_test.percent_bushing_factor("h0"), precision: 2) %></td>
      </tr>
    </tbody>
  </table>
</div>
