<%= form_for(@oil_dga) do |f| %>
  <%= f.error_messages %>
  <div class="grid_5">
    <p>
      <%= f.label :test_type %>
      <%= f.select(:test_type, ["Commissioning", "6 months", "1 year", "Others"]) %>
    </p>    
  </div>
  <div class="grid_5">
    <p>
      <%= f.label :test_date %>
      <%= f.text_field :test_date %>
    </p>    
  </div>  
  <div class="grid_5">
    <p>
      <%= f.label :work_order %>
      <%= f.text_field :work_order %>
    </p>
  </div>  
  <div class="clear"></div> 
  <br/>
  <div class="grid_3">
    <%= label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า" %>
  </div>
  <div class="grid_4">
    <%= transformer_name_select(f) %>  
  </div>
  <div class="clear"></div>
  <%= render :partial => 'transformer_details' %>
  <br/>

  <div class="grid_1">
    <%= f.label :o2, 'O<sub>2</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :o2 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :n2, 'N<sub>2</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :n2 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :co2, 'CO<sub>2</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :co2 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :co, 'CO' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :co %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :h2, 'H<sub>2</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :h2 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :ch4, 'CH<sub>4</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :ch4 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :c2h2, 'C<sub>2</sub>H<sub>2</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h2 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :c2h4, 'C<sub>2</sub>H<sub>4</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h4 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :c2h6, 'C<sub>2</sub>H<sub>6</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h6 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :c3h6, 'C<sub>3</sub>H<sub>6</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c3h6 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <div class="grid_1">
    <%= f.label :c3h6, 'C<sub>3</sub>H<sub>8</sub>'.html_safe %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c3h8 %><span class="span-ppm"> [ppm]</span>
  </div>
  <div class="clear"></div> 
  <br/>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>