= error_messages_for :oil_dga,                              |
  :header_message => "Please Try Again!", :class => 'error' |
= form_for [@transformer, @oil_dga]  do |f|
  .grid_5
    %p
      = f.label :test_type
      = f.select(:test_type, ["Commissioning", "6 months", "1 year", "Others"])
  .grid_5
    %p
      = f.label :test_date
      = f.text_field :test_date
  .grid_5
    %p
      = f.label :work_order
      = f.text_field :work_order
  .clear
  %br/
  .grid_3
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า"
  .grid_4
    = transformer_name_select(f)
  .clear
  %hr
    = render :partial => 'transformer_details', :locals => {:transformer => @transformer}
  .clear
  %hr
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :o2, 'O<sub>2</sub>'.html_safe, {:class => "inline"}
      = f.text_field :o2, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :n2, 'N<sub>2</sub>'.html_safe, {:class => "inline"}
      = f.text_field :n2, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :co2, 'CO<sub>2</sub>'.html_safe, {:class => "inline"}
      = f.text_field :co2, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :co, 'CO', {:class => "inline"}
      = f.text_field :co, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :h2, 'H<sub>2</sub>'.html_safe, {:class => "inline"}
      = f.text_field :h2, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :ch4, 'CH<sub>4</sub>'.html_safe, {:class => "inline"}
      = f.text_field :ch4, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :c2h2, 'C<sub>2</sub>H<sub>2</sub>'.html_safe, 
        {:class => "inline"}
      = f.text_field :c2h2, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :c2h4, 'C<sub>2</sub>H<sub>4</sub>'.html_safe, 
        {:class => "inline"}
      = f.text_field :c2h4, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :c2h6, 'C<sub>2</sub>H<sub>6</sub>'.html_safe, 
        {:class => "inline"}
      = f.text_field :c2h6, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :c3h6, 'C<sub>3</sub>H<sub>6</sub>'.html_safe, 
        {:class => "inline"}
      = f.text_field :c3h6, :value => 0
      %span.span-ppm [ppm]
  .grid_4.prefix_4.suffix_8.chemicals
    %p
      = f.label :c3h6, 'C<sub>3</sub>H<sub>8</sub>'.html_safe, 
        {:class => "inline"}
      = f.text_field :c3h8, :value => 0
      %span.span-ppm [ppm]
  .clear
  .grid_5.prefix_3.suffix_8
    %p
      = f.submit 'Save', {:class => "cupid-green"}
  .clear