<h1>New oil_dga</h1>

<%= form_for(@oil_dga) do |f| %>
  <%= f.error_messages %>
  <div class="grid_5">
    <p>
      <%= f.label :test_type %>
      <%= f.select(:test_type, ["Commissioning", "6 months", "1 year", "Others"]) %>
    </p>    
  </div>
  <div class="grid_5">
    <p>
      <%= f.label :test_date %>
      <%= f.text_field :test_date %>
    </p>    
  </div>  
  <div class="grid_5">
    <p>
      <%= f.label :work_order %>
      <%= f.text_field :work_order %>
    </p>
  </div>  
  <div class="clear"></div> 
  <br/>
  <div class="grid_1">
    <%= f.label :co2, 'CO2' %>

  </div>
  <div class="grid_3">
    <%= f.text_field :co2 %>
  </div>
  <div class="clear"></div> 
  
  <div class="grid_1">
    <%= f.label :co, 'CO' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :co %>
  </div>
  <div class="clear"></div> 

  <div class="grid_1">
    <%= f.label :h2, 'H2' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :h2 %>
  </div>
  <div class="clear"></div> 
  
  <div class="grid_1">
    <%= f.label :ch4, 'CH4' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :ch4 %>
  </div>
  <div class="clear"></div> 

  <div class="grid_1">
    <%= f.label :c2h2, 'C2H2' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h2 %>
  </div>
  <div class="clear"></div> 

  <div class="grid_1">
    <%= f.label :c2h4, 'C2H4' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h4 %>
  </div>
  <div class="clear"></div> 

  <div class="grid_1">
    <%= f.label :c2h6, 'C2H6' %>
  </div>
  <div class="grid_3">
    <%= f.text_field :c2h6 %>
  </div>
  <div class="clear"></div> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', oil_dgas_path %>