<p>
  <b>Test type:</b>
  <%=h @oil_dga.test_type %>
</p>

<p>
  <b>Test date:</b>
  <%=h @oil_dga.test_date %>
</p>

<p>
  <b>Work order:</b>
  <%=h @oil_dga.work_order %>
</p>

<p>
  <b>Co2:</b>
  <%=h @oil_dga.co2 %>
</p>

<p>
  <b>Co2 score:</b>
  <%=h @oil_dga.co2_score %>
</p>

<p>
  <b>Co:</b>
  <%=h @oil_dga.co %>
</p>

<p>
  <b>Co score:</b>
  <%=h @oil_dga.co_score %>
</p>

<p>
  <b>H2:</b>
  <%=h @oil_dga.h2 %>
</p>

<p>
  <b>H2 score:</b>
  <%=h @oil_dga.h2_score %>
</p>

<p>
  <b>C2h2:</b>
  <%=h @oil_dga.c2h2 %>
</p>

<p>
  <b>C2h2 score:</b>
  <%=h @oil_dga.c2h2_score %>
</p>

<p>
  <b>C2h4:</b>
  <%=h @oil_dga.c2h4 %>
</p>

<p>
  <b>C2h4 score:</b>
  <%=h @oil_dga.c2h4_score %>
</p>

<p>
  <b>C4h6:</b>
  <%=h @oil_dga.c4h6 %>
</p>

<p>
  <b>C4h6 score:</b>
  <%=h @oil_dga.c4h6_score %>
</p>


<%= link_to 'Edit', edit_oil_dga_path(@oil_dga) %> |
<%= link_to 'Back', oil_dgas_path %>