= error_messages_for :oltc_oil_contamination,                              |
  :header_message => "Please Try Again!", :class => 'error' |
= form_for [@transformer, @oltc_oil_contamination]  do |f|
  = render :partial => 'oil_dgas/test_type_test_date_work_order', :locals => {:f => f}
  %br/
  .grid_3
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า"
  .grid_4
    = transformer_name_select(f)
  .clear
  %hr
    = render :partial => 'transformer_details', :locals => {:transformer => @transformer}
  .clear
  %hr
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :color, 'Color'.html_safe, {:class => 'inline'}
      - if controller.action_name == "new"
        = f.text_field :color, :value => 0
      - else
        = f.text_field :color
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :water_content, 'Water Content', {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :water_content, :value => 0
      - else
        = f.text_field :water_content
      %span.span-ppm [ppm]
  .clear
  .grid_8.prefix_3.suffix_4
    %p
      = f.submit 'Save', {:class => "cupid-green"}
  .clear
