= error_messages_for :oil_contamination,                              |
  :header_message => "Please Try Again!", :class => 'error' |
= form_for [@transformer, @oil_contamination]  do |f|
  .grid_5
    %p
      = f.label :test_type, 'วาระการทดสอบ'
      = f.select(:test_type, ["Commissioning", "6 months", "1 year", "Others"])
  .grid_5
    %p
      = f.label :test_date, 'วันที่ทดสอบ'
      = f.text_field :test_date
  .grid_5
    %p
      = f.label :work_order, 'เลขที่ใบสั่งงาน'
      = f.text_field :work_order
  .clear
  %br/
  .grid_3
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า"
  .grid_4
    = transformer_name_select(f)
  .clear
  %hr
    = render :partial => 'transformer_details', :locals => {:transformer => @transformer}
  .clear
  %hr
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :color, 'Color'.html_safe, {:class => 'inline'}
      - if controller.action_name == "new"
        = f.text_field :color, :value => 0
      - else
        = f.text_field :color
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :ift, 'IFT'.html_safe, {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :ift, :value => 0
      - else
        = f.text_field :ift
      %span.span-ppm [dynes/cm]
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :nn, 'Acidity (NN)'.html_safe, {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :nn, :value => 0
      - else
        = f.text_field :nn
      %span.span-ppm [mg KOH/gm]
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :water_content, 'Water Content', {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :water_content, :value => 0
      - else
        = f.text_field :water_content
      %span.span-ppm [ppm]
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :pf20, '%Power Factor @20&deg;C'.html_safe, {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :pf20, :value => 0
      - else
        = f.text_field :pf20
  .grid_8.prefix_4.suffix_4.chemicals
    %p
      = f.label :pf100, '%Power Factor @100&deg;C'.html_safe, {:class => "inline"}
      - if controller.action_name == "new"
        = f.text_field :pf100, :value => 0
      - else
        = f.text_field :pf100
  .clear
  .grid_8.prefix_3.suffix_4
    %p
      = f.submit 'Save', {:class => "cupid-green"}
  .clear
