<style type="text/css">
	.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
}
img {
  margin: 0;
}
</style>
<%= error_messages_for :transformer_information, 
  :header_message => "Please Try Again!", :class => 'error' %>
<% form_for @transformer_information do |f| %>
  <fieldset class="inputs">
    <ol>
      <table>
        <tr>        
          <td>
            <li class="string required">
              <%= f.label 'Transformer Name' %>
              <%= f.text_field :transformer_name, :size => 15%>
            </li>
          </td>          
          <td>
            <li class="string required">
              <%= f.label 'Recorded Date' %>
              <%= f.text_field :recorded_date, :size => 10%>            
            </li>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'bus_voltage_hv', :locals => {:f => f} %>
            </li>            
          </td>
          <td>
            <li class="required">
              <%= render :partial => 'system_fault_level_hv',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= f.text_field :system_fault_level_hv_mva, :size => 10 %>
              &nbsp;<label>[MVA]<label>
            </li>
          </td>
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'bus_voltage_lv', :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= render :partial => 'system_fault_level_lv',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= f.text_field :system_fault_level_lv_mva, :size => 10 %>
              &nbsp;<label>[MVA]<label>
            </li>            
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <li class="select required">
              <%= render :partial => 'probability_of_force_outage',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'social_aspect', :locals => {:f => f} %>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td colspan="2">
            <li class="select required">
              <%= render :partial => 'system_location', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>          
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'public_image', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'n1_criteria', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>        
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'application_use', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>        
        <tr>
          <td colspan="2">
            <li class="select required">
              <%= render :partial => 'system_stability', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>          
        </tr>        
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'pollution', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td colspan="3">
            <li class="check_boxes optional">                
              <fieldset>
                <h5 class="legend"><span class="label">Damage Of Property</span></h5>
                <ol>
                  <% for damage_of_property in DamageOfProperty.find(:all)%>                
                  <li>
                    <label>
                      <%= check_box_tag 'transformer_information[damage_of_property_ids][]',
                                        damage_of_property.id %>
                      <%= damage_of_property.value  + ' ' + damage_of_property.message %>
                  </li>
                  <% end %>
                </ol>
              </fieldset>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <li>
              <% f.fields_for :load_pattern_per_year do |lppy_f| %>            
              <h5 class="legend"><span class="label">Load Pattern</span></h5>
              <ol>
                <table>
                  <thead>
                    <tr>
                      <th>Load Factor</th>
                      <th>Number of Months</th>
                    </tr>
                  </thead>
                  <tr>
                    <td><%= label :load_pattern_per_year, :lteq_0_pt_6, "<= 0.6" %>
                    <td>
                      <%= lppy_f.select :lteq_0_pt_6, %w{0 1 2 3 3 4 5 6 7 8 9 10 11 12} %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= label :load_pattern_per_year, :gt_0_pt_6_and_lteq_1, 
                                "0.6 < LF <= 1" %>
                    <td>
                      <%= lppy_f.select :gt_0_pt_6_and_lteq_1, 
                          %w{0 1 2 3 3 4 5 6 7 8 9 10 11 12} %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= label :load_pattern_per_year, :gt_1_and_lteq_1_pt_2, 
                                "1 < LF <= 1.2" %>
                    <td>
                      <%= lppy_f.select :gt_1_and_lteq_1_pt_2, 
                          %w{0 1 2 3 3 4 5 6 7 8 9 10 11 12} %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= label :load_pattern_per_year, :gt_1_pt_2_and_lteq_1_pt_5, 
                                "1.2 < LF <= 1.5" %>
                    <td>
                      <%= lppy_f.select :gt_1_pt_2_and_lteq_1_pt_5, 
                          %w{0 1 2 3 3 4 5 6 7 8 9 10 11 12} %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= label :load_pattern_per_year, :gt_1_pt_5, "> 1.5" %>
                    <td>
                      <%= lppy_f.select :gt_1_pt_5, %w{0 1 2 3 3 4 5 6 7 8 9 10 11 12} %>
                    </td>
                  </tr>                        
                </table>
              </ol>
              <% end %>
            </li>
          </td>
        </tr>
      </table>
    </ol>
  </fieldset>
  <%= f.submit 'Create' %>
<% end %>

