<style type="text/css">
	.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
}
img {
  margin: 0;
}
</style>
<%= error_messages_for :transformer_information, 
  :header_message => "Please Try Again!", :class => 'error' %>
<% form_for @transformer_information do |f| %>
  <fieldset class="inputs">
    <ol>
      <table>
        <tr>        
          <td>
            <li class="string required">
              <%= f.label 'Transformer Name' %>
              <%= f.text_field :transformer_name, :size => 15%>
            </li>
          </td>          
          <td>
            <li class="string required">
              <%= f.label 'Recorded Date' %>
              <%= f.text_field :recorded_date, :size => 10%>            
            </li>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'bus_voltage_hv', :locals => {:f => f} %>
            </li>            
          </td>
          <td>
            <li class="required">
              <%= render :partial => 'system_fault_level_hv',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= f.text_field :system_fault_level_hv_mva, :size => 10 %>
              &nbsp;<label>[MVA]<label>
            </li>
          </td>
        </tr>
        <tr>
          <td>
            <li class="select required">
              <%= render :partial => 'bus_voltage_lv', :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= render :partial => 'system_fault_level_lv',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td>
            <li class="required">
              <%= f.text_field :system_fault_level_lv_mva, :size => 10 %>
              &nbsp;<label>[MVA]<label>
            </li>            
          </td>
        </tr>
        <tr>
          <td>
            <li>
              <%= render :partial => 'probability_of_force_outage',
                         :locals => {:f => f} %>
            </li>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <li><%= render :partial => 'social_aspect', :locals => {:f => f} %>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td>
            <li>
              <%= render :partial => 'system_location', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td>
            <li>
              <%= render :partial => 'public_image', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td>
            <li>
              <%= render :partial => 'n1_criteria', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>        
        <tr>
          <td>
            <li>
              <%= render :partial => 'application_use', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>        
        <tr>
          <td>
            <li>
              <%= render :partial => 'system_stability', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>        
        <tr>
          <td>
            <li>
              <%= render :partial => 'pollution', :locals => {:f => f}%>
            </li>
          </td>
          <td></td>
          <td></td>          
        </tr>
        <tr>
          <td colspan="3">
            <li class="check_boxes optional">                
              <fieldset>
                <h5 class="legend"><span class="label">Damage Of Property</span></h5>
                <ol>
                  <% for damage_of_property in DamageOfProperty.find(:all)%>                
                  <li>
                    <label>
                      <%= check_box_tag 'transformer_information[damage_of_property_ids][]',
                                        damage_of_property.id %>
                      <%= damage_of_property.value  + ' ' + damage_of_property.message %>
                  </li>
                  <% end %>
                </ol>
              </fieldset>
            </li>
          </td>
        </tr>
      </table>
    </ol>
  </fieldset>
  <%= render :partial => 'load_pattern_per_year', :locals => {:f => f} %>
  <%= f.submit 'Create' %>
<% end %>

