<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.flot.min.js',
                             'jquery.flot.selection.min.js',
                             'jquery.flot.axislabels.js',
                             'jquery.multirowcheckboxmenu',
                             'controllers/transformer_informations.js'
  %>
                           
  
<% end %>

<%= form_for :station do |f| -%>
<div class="grid_3">
  <%= f.label(:station, "เขต")%>
</div>
<div class="grid_3">
  <%= 
      @stations = Station.group("region").all
      f.collection_select(:station, @stations, :region, :region, 
                          {:prompt => 'All', :selected => params[:region]})
  %>
</div>
<div class="clear"></div> 
<div id="transformer_name_label" class="grid_3">
  <label for="station_transformer_name">ชื่อหม้อแปลงไฟฟ้า</labe>
</div>
<div id="transformer_name_select" class="grid_3">
  <select id="station_transformer_name" name="station[transformer_name]"></select>
</div>
<script id="transformer_names" type="text/x-jquery-tmpl">
  <option value=${$data["transformer"]["id"]}> ${$data["transformer"]["transformer_name"]} </option>
</script>
<% end -%>
<div class="clear"></div> 
<div class="grid_11">
<div id="placeholder" style="width:600px;height:400px"></div>
</div>
<div id="switchGraph" class="grid_3">
  <% if params[:graph] == "risk" %>
    <%= 
      link_to "คลิกดูกราฟ Risk Matrix", 
              :controller => "transformer_informations", :action => "index",
							:region => params[:region]
    %>    
  <% else %>
    <%= 
      link_to "คลิกดูกราฟความเสี่ยง", 
              :controller => "transformer_informations", :action => "index",
              :graph => "risk", :region => params[:region] 
    %>    
  <% end %>
</div>
<div class="clear"></div> 
<br/>
<div id="transformers" class="grid_16">    
  <table id="transformers_table">
    <thead>
      <tr>
      <th>Id</th>
      <th>Device No.</th>
      <th>Equipment No.</th>
      <th>Overall Condition(%)</th>
      <th>Importance Index System(%)</th>
      <th>Risk</th>
      <th>Action</th>
      <th><input type="checkbox" name="name[]" id="select_all"/></th>
      </tr>
    </thead>
    <tbody>
      <% if !@transformer_informations.blank? %>
        <% for transformer_information in @transformer_informations %>
          <tr>
            <td><%= transformer_information.transformer.id %></td>
            <td><%= transformer_information.transformer.transformer_name %></td>
            <td>
              <a class="title" href="javascript:void(0)" 
                 title="<%= transformer_information.transformer.brand.name %>">
                <%= transformer_information.transformer.egatsn %>
              </a>
            </td>
            <td>
							<% 
							  link_to transformer_overall_conditions_path(transformer_information.transformer), 
							          {:rel => 'facebox'} do 
							%>
                <%= number_with_precision(transformer_information.percent_hi, :precision => 2) %>
              <% end %>              							
						</td>
            <td>
              <% link_to transformer_information, {:rel => 'facebox'} do %>
                <%= transformer_information.importance_index %>
              <% end %>
            </td>
            <td>
              <% link_to importance_and_risk_table_transformer_information_url(transformer_information.id), {:rel => 'facebox'} do %>
                <%= transformer_information.risk.risk %>
              <% end %>
            </td>
            <td><%= transformer_information.risk.action %></td>
            <td>
              <input type="checkbox" name="name[]" 
                    id = "<%= 'transformer_' + transformer_information.transformer.id.to_s -%>"
                    class="transformer_checkbox"/>
            </td>
          </tr>
        <% end %>
      <% else %>
        No transformer was found.
      <% end %>      
    </tbody>
  </table>
</div>
</div>
</div>