.grid_16
  %h2 Oil Output
  .grid_6.prefix_2
    %table
      %thead
        %tr
          %th Insulating Oil
          %th= insulating_oil :color
      %tbody
        %tr
          %td %Oil Health Index
          %td= insulating_oil :percent_hi
  .clear
  .grid_11
    %table
      %thead
        %tr
          %th Insulating Oil
          %th Health Index Factor
          %th Condition
          %th ข้อมูลล่าสุดที่ถูกบันทึก
      %tbody
        %tr
          %td Oil Contamination
          %td= oil_contamination :hi_factor
          %td= oil_contamination :color
          %td= oil_contamination :test_date
        %tr
          %td Aging Product
          %td= aging_product :hi_factor
          %td= aging_product :color
          %td= aging_product :test_date
      