.grid_16
  %table
    %thead
      %th No.
      %th Transformer Condition Criteria
      %th HIF
      %th Condition
      %th ข้อมูลล่าสุดที่ถูกบันทึก
    %tbody
      %tr
        %td  1
        %td Load History
        %td= @general_condition.load_history_hi_factor
        %td
          = load_history_factor_color(@general_condition, @visual_inspection, |
            @transformer)                                                     |
        %td= recent_date(@visual_inspection)
      %tr
        %td  1
        %td General Condition
        %td= hi_factor(@general_condition)
        %td
          = general_condition_factor_color(@general_condition, |
            @visual_inspection, @transformer)                  |
        %td= recent_date(@visual_inspection)
      %tr
        %td  1
        %td Bushing Condition
        %td= hi_factor(@bushing_condition)
        %td
          = bushing_condition_factor_color(@bushing_condition, |
            @visual_inspection, @transformer)                  |
        %td= recent_date(@visual_inspection)
      %tr
        %td  1
        %td Surge Arrester
        %td= hi_factor(@surge_arrester)
        %td
          = surge_arrester_factor_color(@surge_arrester, @visual_inspection, |
            @transformer)                                                    |
        %td= recent_date(@visual_inspection)
