.grid_16
  %table
    %thead
      %th No.
      %th Transformer Condition Criteria
      %th HIF
      %th Condition
      %th ข้อมูลล่าสุดที่ถูกบันทึก
    %tbody
      %tr
        %td  1
        %td DGA
        - unless @oil_dgas.blank?
          %td= hi_factor(@oil_dgas.first)
          %td= oil_dga_factor_color
          %td= oil_dga_test_date
        - else 
          %td -
          %td -
          %td -        
      %tr
        %td  2
        %td Load History
        %td= load_history_hi_factor
        %td= load_history_factor_color
        %td= recent_date(@visual_inspection)
      %tr
        %td  3
        %td Power Factor
        %td= power_factor_hi_factor
        %td= power_factor_color
        %td= power_factor_test_date
      %tr
        %td  4
        %td Thermo Scan
        %td= hi_factor(@thermo_scan)
        %td= thermo_scan_factor_color(@thermo_scan, @transformer)
        - unless @thermo_scan.blank?                                                
          %td= recent_date(@thermo_scan.visual_inspection)
        - else
          %td -
      %tr
        %td  7
        %td General Condition
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.general_condition)
          %td= general_condition_factor_color(@visual_inspection, @transformer)
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  8
        %td Bushing Condition
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.bushing_condition)
          %td= bushing_condition_factor_color(@visual_inspection, @transformer)
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  9
        %td Surge Arrester
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.surge_arrester)
          %td= surge_arrester_factor_color(@visual_inspection, @transformer)
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  10
        %td Conservator Tank
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.conservator_tank)
          %td= conservator_tank_factor_color(@visual_inspection, @transformer)                                                    
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  11
        %td Main Tank
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.main_tank)
          %td= main_tank_factor_color(@visual_inspection, @transformer)                                                    
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  12        
        %td Hot Line Oil Filter
        %td= hi_factor(@hot_line_oil_filter)
        %td= hot_line_oil_filter_factor_color
        - unless @hot_line_oil_filter.blank?
          %td= recent_date(@hot_line_oil_filter.visual_inspection)
        - else 
          %td -
      %tr
        %td  13
        %td Radiator Cooling System
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.radiator_cooling_system)
          %td
            = radiator_cooling_system_factor_color(@visual_inspection, |
              @transformer)                                            |   
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  14
        %td Transformer Control Cabinet
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.transformer_control_cabinet)
          %td
            = transformer_control_cabinet_factor_color(@visual_inspection, |
            @transformer)                                            |   
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  15
        %td NGR
        %td= hi_factor(@ngr)
        %td= ngr_factor_color(@ngr, @transformer)
        - unless @ngr.blank?                                            
          %td= recent_date(@ngr.visual_inspection)
        - else 
          %td -
      %tr
        %td  16
        %td Regulating PT
        %td= hi_factor(@regulating_pt)
        %td= regulating_pt_factor_color                                           
        - unless @regulating_pt.blank?
          %td= recent_date(@regulating_pt.visual_inspection)
        - else 
          %td -
      %tr
        %td  17
        %td OLTC Compartment
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.oltc_compartment)
          %td= oltc_compartment_factor_color(@visual_inspection, @transformer)                                            
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td -
      %tr
        %td  18
        %td OLTC Control Cabinet
        - unless @visual_inspection.blank?
          %td= hi_factor(@visual_inspection.oltc_control_cabinet)
          %td= oltc_control_cabinet_factor_color(@visual_inspection, |
                @transformer)                                            
          %td= recent_date(@visual_inspection)
        - else
          %td -
          %td -
          %td - 
      %tr
        %td 19
        %td  DGA of OLTC
        %td= oltc_dga_hi_factor
        %td= oltc_dga_color
        %td= oltc_dga_test_date