<%= error_messages_for :visual_inspection, 
  :header_message => "Please Try Again!", :class => 'error' %>
<div id="transformer_search">
  <%= form_for [@transformer, @visual_inspection] do |f| -%>
    <div class="prefix_6 grid_4 suffix_6">
      <p>
        <%= f.label :transformer_id, "หม้อแปลงไฟฟ้า" %>
        <%= transformer_names_drop_down_list(f, :transformer_id) %>
      </p>
    </div>
    <div class="grid_3">
      <p>
        <%= f.label :test_type, 'วาระการตรวจสอบ' %>
        <%= f.select(:test_type, ["Commissioning", "Weekly", "1 year"]) %>
      </p>
    </div>
    <div class="grid_3">
      <p>
        <%= f.label :test_by, 'ผู้ตรวจสอบ' %>
        <%= f.text_field :test_by%>      
      </p>
    </div>
    <div class="grid_3">
      <p>
        <%= f.label :test_date, 'วันท่ีตรวจสอบ' %>
        <%= f.text_field :test_date%>      
      </p>
    </div>    
    <div class="grid_3">
      <p>
        <%= f.label :oltc_counter, 'OLTC Counter'%>
        <%= f.text_field :oltc_counter%>
      </p>    
    </div>
    <div class="grid_3">
      <p>
        <%= f.label :work_order, 'เลขที่ใบสั่งงาน'%>
        <%= f.text_field :work_order%>
      </p>
    </div>
    <div class="clear"></div>
    <div id="tabs">
      <ul>
        <li><a href="#general_condition">1. สภาพทั่วไป</a></li>
        <li><a href="#bushing_condition">2. Bushing Condition</a></li>
        <li><a href="#surge_arrester">3. Surge Arrester</a></li>
      </ul>
      <div id="general_condition">
        <h2>1. สภาพทั่วไป *</h2>
        <%= render :partial => 'general_condition_form', :locals => {:f => f} %>
      </div>
      <div id="bushing_condition">
        <h2>2. Bushing Condition</h2>
        <%= render :partial => 'bushing_condition_form', :locals => {:f => f} %>
      </div>
      <div id="surge_arrester">
        <h2>3. Surge Arrester</h2>
        <%= render :partial => 'surge_arrester_form', :locals => {:f => f} %>
      </div>      
    </div>
    <div class="prefix_3 grid_4">
      <p>
        <%= f.submit "Save", :disable_with => 'Saveing...',  :class => "slick-back" %>
      </p>
  <% end -%>
</div>