%h2 2. Bushing Condition
%br
%h4 2.1 ด้าน HV.
%dl
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_status_hv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_status_hv)
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_clean_hv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_clean_hv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_fail_hv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_fail_hv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_level_hv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_level_hv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_color_hv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_color_hv)
%br
%h4 2.2 ด้าน LV.
%dl
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_status_lv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_status_lv)
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_clean_lv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_clean_lv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_fail_lv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_fail_lv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_level_lv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_level_lv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_color_lv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_color_lv)
%br
%h4 2.3 ด้าน TV.
%dl
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_status_tv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_status_tv)
  .grid_8.suffix_8
    %dt 
      = description_for(:porcelain_clean_tv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :porcelain_clean_tv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_fail_tv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_fail_tv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_level_tv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_level_tv)
  .grid_8.suffix_8
    %dt 
      = description_for(:oil_color_tv, :bushing_conditions)
    %dd 
      = " : " + condition(visual_inspection, BushingCondition, 
        :oil_color_tv)
