= f.fields_for :thermo_scan do |thermo_scan|
  %fieldset
    .grid_12
      %p
        = thermo_scan.label :delt, "&Delta;T(&deg;C) Temp. Rise above Normal Temp.".html_safe, {:class => "inline"}
        = thermo_scan.text_field :delt
    .grid_12
      %p
        = thermo_scan.label :load, "% Load ขณะตรวจเช็ค", {:class => "inline"}
        = thermo_scan.text_field :load
    .clear
    = render :partial => 'next_previous_buttons'
    .clear
