%h1 Visual Inspection
= render :partial => 'transformer_details', :locals => {:transformer => @visual_inspection.transformer}
.clear
  &nbsp;

%br
%hr

%dl
  .grid_8
    %dt วาระการตรวจสอบ
    %dd
      = " : " + @visual_inspection.test_type
  .grid_8
    %dt ผู้ตรวจสอบ
    %dd
      = " : " + @visual_inspection.test_by
  .grid_8
    %dt วันท่ีตรวจสอบ
    %dd
      = " : " + @visual_inspection.test_date.strftime("%d/%m/%Y")
  .grid_8
    %dt OLTC Counter
    %dd
      = " : " + @visual_inspection.oltc_counter
  .grid_8
    %dt เลขที่ใบสั่งงาน
    %dd
      = " : " + @visual_inspection.work_order
.clear
  &nbsp;
%br
%hr
#tabs
  %ul
    %li
      %a{:href => "#general_condition"} 1. สภาพทั่วไป
    %li
      %a{:href => "#bushing_condition"} 2. Bushing Condition
    %li
      %a{:href => "#surge_arrester"} 3. Surge Arrester
    %li
      %a{:href => "#conservator_tank"} 4. Conservator Tank
    %li
      %a{:href => "#main_tank"} 5. Main Tank
    %li
      %a{:href => "#hot_line_oil_filter"} 6. Hot Line Oil Filter        
    %li
      %a{:href => "#radiator_cooling_system"} 7. Radiator&Cooling System
    %li
      %a{:href => "#transformer_control_cabinet"} 8. Tx Control Cabinet
    %li
      %a{:href => "#ngr"} 9. NGR
    %li
      %a{:href => "#regulating_pt"} 10. Regulating PT
    %li
      %a{:href => "#oltc_compartment"} 11. OLTC Compartment
    %li
      %a{:href => "#oltc_control_cabinet"} 12. OLTC Control Cabinet                 
    %li
      %a{:href => "#thermo_scan"} 13. Thermo Scan
  #general_condition
    = render :partial => 'show_general_condition', :locals => {:visual_inspection => @visual_inspection}
  #bushing_condition
    = render :partial => 'show_bushing_condition', :locals => {:visual_inspection => @visual_inspection}
  #surge_arrester
    = render :partial => 'show_surge_arrester', :locals => {:visual_inspection => @visual_inspection}
  #conservator_tank
    = render :partial => 'show_conservator_tank', :locals => {:visual_inspection => @visual_inspection}
  #main_tank
    = render :partial => 'show_main_tank', :locals => {:visual_inspection => @visual_inspection}
  #hot_line_oil_filter
    = render :partial => 'show_hot_line_oil_filter', :locals => {:visual_inspection => @visual_inspection}  
  #radiator_cooling_system
    = render :partial => 'show_radiator_cooling_system', :locals => {:visual_inspection => @visual_inspection}
  #transformer_control_cabinet
    = render :partial => 'show_transformer_control_cabinet', :locals => {:visual_inspection => @visual_inspection}
  #ngr
    = render :partial => 'show_ngr', :locals => {:visual_inspection => @visual_inspection}
  #regulating_pt
    = render :partial => 'show_regulating_pt', :locals => {:visual_inspection => @visual_inspection}
  #oltc_compartment
    = render :partial => 'show_oltc_compartment', :locals => {:visual_inspection => @visual_inspection}
  #oltc_control_cabinet
    = render :partial => 'show_oltc_control_cabinet', :locals => {:visual_inspection => @visual_inspection}
  #thermo_scan
    = render :partial => 'show_thermo_scan', :locals => {:visual_inspection => @visual_inspection}
