%dl
  .grid_8
    %dt Transformer Name
    %dd
      = " : " + transformer.transformer_name
  .grid_8
    %dt Equipment No. 
    %dd
      = " : " + transformer.egatsn
  .grid_8
    %dt MVA Rating
    %dd
      = " : " + transformer.maxcapacity.to_s + " MVA"
  .grid_8
    %dt HV Rating 
    %dd
      = " : " + transformer.hv.to_s + " kV"
  .grid_8
    %dt First Energized: 
    %dd
      = " : " + transformer.first_energize.strftime("%d/%m/%Y")
  .grid_8
    %dt Manufacturer
    %dd
      = " : " + transformer.brand.name
  .grid_8
    %dt OLTC Manufacturer 
    %dd
      = " : " + transformer.oltc_manufacturer
  .grid_8
    %dt OLTC Type 
    %dd
      = " : " + transformer.oltc_type
  .grid_8
    %dt Vectory Group
    %dd
      = " : " + transformer.vector_group
  .grid_8
    %dt Winding Type 
    %dd
      = " : " + transformer_winding_type(transformer)