%h1 ผลทดสอบทางไฟฟ้า
= form_for :electrical_test do |form|
  .grid_3.prefix_4
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า" 
  .grid_4
    = transformer_names_drop_down_list(form)
  .clear
    &nbsp;
  = transformer_details_partial
  %hr
  #insulating_oil
    .grid_8
      = label 'insulating_oil', 'Insulating Oil'
      = insulating_oil_drop_down_list
      = new_insulating_oil_link(@transformer)
      - unless @insulating_oils.blank?
        = edit_insulating_oil_link(@transformer, @insulating_oils.first)
        = delete_insulating_oil_link(@transformer, @insulating_oils.first)
      - else 
        = link_to("Edit", "#", :class => "edit")
        = link_to("Edit", "#", :class => "delete")
  .clear
  %br
  #bushing_test
    .grid_8
      = label 'bushing_test', 'Bushing Test'
      = bushing_test_drop_down_list
      = new_bushing_test_link
      - unless @bushing_tests.blank?
        = edit_bushing_test_link
        = delete_insulating_oil_link(@transformer, @bushing_tests.first)

