.grid_8
  %fieldset
    %legend DIELECTRIC BREAKDOWN VOLTAGE TEST
    %table
      %thead
        %tr
          %th &nbsp;
          %th{:colspan => 2} MAIN TANK
          %th{:colspan => 2} OLTC
      %tbody
        %tr
          %td &nbsp;
          %td              
            <img src="http://latex.codecogs.com/gif.latex?\large x_{i}" title="\large x_{i}" />
          %td
            <img src="http://latex.codecogs.com/gif.latex?\large (x_{i} - \bar{x})^2" title="\large (x_{i} - \bar{x})^2" />
          %td 
            <img src="http://latex.codecogs.com/gif.latex?\large x_{i}" title="\large x_{i}" />
          
          %td
            <img src="http://latex.codecogs.com/gif.latex?\large (x_{i} - \bar{x})^2" title="\large (x_{i} - \bar{x})^2" />
        
        %tr
          %td 1
          %td= f.text_field :xi1_maintank, {:class => "xi"}
          %td= f.text_field :xi1_maintank_minus_xbar_whole_squared, |
          {:class => "xi dotted"}
          %td= f.text_field :xi1_oltc, {:class => "xi"}
          %td= f.text_field :xi1_oltc_minus_xbar_whole_squared, |
          {:class => "xi dotted"}
        %tr
          %td 2
          %td= f.text_field :xi2_maintank, {:class => "xi"}
          %td= f.text_field :xi2_maintank_minus_xbar_whole_squared, |
          {:class => "xi dotted"}
          %td= f.text_field :xi2_oltc, {:class => "xi"}
          %td= f.text_field :xi2_oltc_minus_xbar_whole_squared, |
          {:class => "xi dotted"}                  
        %tr
          %td 3
          %td= f.text_field :xi3_maintank, {:class => "xi"}
          %td= f.text_field :xi2_maintank_minus_xbar_whole_squared, |
          {:class => "xi dotted"}
          %td= f.text_field :xi3_oltc, {:class => "xi"}
          %td= f.text_field :xi3_oltc_minus_xbar_whole_squared, |
          {:class => "xi dotted"}
        %tr
          %td 4
          %td= f.text_field :xi4_maintank, {:class => "xi"}
          %td= f.text_field :xi4_maintank_minus_xbar_whole_squared, |
          {:class => "xi dotted"}   
          %td= f.text_field :xi4_oltc, {:class => "xi"}
          %td= f.text_field :xi4_oltc_minus_xbar_whole_squared, |
          {:class => "xi dotted"}  
        %tr
          %td 5
          %td= f.text_field :xi5_maintank, {:class => "xi"}
          %td= f.text_field :xi5_maintank_minus_xbar_whole_squared, 
          {:class => "xi dotted"}  
          %td= f.text_field :xi5_oltc, {:class => "xi"}
          %td= f.text_field :xi5_oltc_minus_xbar_whole_squared, |
          {:class => "xi dotted"}  
        %tr
          %td
            <img src="http://latex.codecogs.com/gif.latex?\big \sum x_i" title="\large \sum x_i" />
          %td= f.text_field :xi_sum_maintank, {:class => "xi dotted"}
          %td &nbsp;
          %td= f.text_field :xi_sum_oltc, {:class => "xi dotted"}
          %td &nbsp;
        %tr
          %td
            <img src="http://latex.codecogs.com/gif.latex?\bar{x} = \left(\big \sum x_i\right) / n" title="\bar{x} = \left(\big \sum x_i\right) / n" />
          %td= f.text_field :xi_average_maintank, {:class => "xi dotted"}
          %td &nbsp;
          %td= f.text_field :xi_average_oltc, {:class => "xi dotted"}
          %td &nbsp;
        %tr
          %td
            <img src="http://latex.codecogs.com/gif.latex?\big\sum\left(x_i - \bar{x} \right)^2" title="\big\sum\left(x_i - \bar{x} \right)^2" />
          %td= f.text_field :sum_xi_minus_xbar_whole_squared_maintank, |
          {:class => "xi dotted"}
          %td - - - - - 
          %td= f.text_field :sum_xi_minus_xbar_whole_squared_oltc, |
          {:class => "xi dotted"}
          %td - - - - -
        %tr{:rowspan => 3}
          %td
            <img src="http://latex.codecogs.com/gif.latex?S = \sqrt\frac{\big\sum\left(x_i - \bar x \right)^2}{n-1}" title="S = \sqrt\frac{\big\sum\left(x_i - \bar x \right)^2}{n-1}" />
          %td= f.text_field :s_maintank, {:class => "xi dotted"}
          %td - - - - - 
          %td= f.text_field :s_oltc, {:class => "xi dotted"}
          %td - - - - -
        %tr
          %td
            <img src="http://latex.codecogs.com/gif.latex?CV = S / \bar x" title="CV = S / \bar x" />
          %td= f.text_field :cv_maintank, {:class => "xi dotted"}
          %td - - - - - 
          %td= f.text_field :cv_oltc, {:class => "xi dotted"}
          %td - - - - -
