#new_insulating_oil
  = form_for [@transformer, @insulating_oil] do |f|
    .grid_8
      .grid_8
        %p
          = f.label :test_type, 'วาระการตรวจสอบ', {:class => "inline"}
          = f.select(:test_type, ["Commissioning", "6 months", "Others"])
      .grid_8
        %p
          = f.label :test_date, 'วันท่ีตรวจสอบ', {:class => "inline"}
          = f.text_field :test_date
      .grid_8
        %p
          = f.label :work_order, 'เลขที่ใบสั่งงาน', {:class => "inline"}
          = f.text_field :work_order
    .grid_8
      .grid_8
        %p
          = f.label :oil_temp, 'Oil Temperature', {:class => "inline"}
          = f.text_field :oil_temp
      .grid_8
        %p
          = f.label :oil_temp, 'Ambient Temperature', {:class => "inline"}
          = f.text_field :test_date
      .grid_8
        %p
          = f.label :humidity, 'Humidity', {:class => "inline"}
          = f.text_field :humidity
    .clear
      &nbsp;
    %hr
    = render :partial => 'dielectric_breakdown_voltage_test', |
      :locals => {:f => f}
    .clear
    = render :partial => 'insulating_power_factor_measurement', |
      :locals => {:f => f}
