%h1
  Oil Test
= form_for :oil_dga do |form|
  .grid_3.prefix_4
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า" 
  .grid_4
    = transformer_names_drop_down_list(form)
  .clear
    &nbsp;
  = render :partial => 'transformer_details'
  #main_tank_dga
    .grid_4
      = label 'main_tank_dga', 'Main Tank DGA'
      = select_tag 'main_tank_dga'
    .grid_4
      %br
      %br
      = new_main_tank_dga_link
      &nbsp;
      = edit_main_tank_dga_link
      &nbsp;
      = delete_main_tank_dga_link