%h1 ผลทดสอบทางน้ํามัน
= form_for :oil_dga do |form|
  .grid_3.prefix_4
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า" 
  .grid_4
    = transformer_names_drop_down_list(form)
  .clear
    &nbsp;
  = render :partial => 'transformer_details', :locals => {:transformer => @transformer}
  %hr
  #main_tank_dga
    .grid_8
      = label 'main_tank_dga', 'Main Tank DGA'
      = oil_dga_drop_down_list(@oil_dgas)
      = new_main_tank_dga_link(@transformer)
      - unless @oil_dgas.blank?
        = edit_main_tank_dga_link(@transformer, @oil_dgas.first)
        = delete_main_tank_dga_link(@transformer, @oil_dgas.first)
      - else 
        = link_to("Edit", "#", :class => "edit")
        = link_to("Edit", "#", :class => "delete")
      
