<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Students: <%= controller.action_name %></title>
  <!-- <%= stylesheet_link_tag 'blueprint/screen', 'blueprint/print' %> -->
  <%= stylesheet_link_tag :flutie %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" 
     media="screen, projection">
  <![endif]-->
  <style type="text/css">
  /* These are styles to make the page look nice */

  body { background-color: #dadada;}
  .content {
    background: #fff;
    padding: 40px;
    margin: 40px auto;
    width: 880px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  }
  div#colmns {width:800px}
  div#columns div {float:left;}
  
  </style>
  
</head>
<body>



<div class="content"> 
  <p style="color: green"><%= notice %></p>
<%= yield %>
</div>

</body>
</html>
