!!!
%html
  %head
    %title Bushing Condition
    = javascript_include_tag :defaults
    = javascript_includes
    = stylesheet_link_tag 'ext-all', 'xtheme-gray' 
    = stylesheet_link_tag '960', 'template', 'nav', 'colour' 
    = stylesheet_link_tag  'facybox', 'faceplant'
    = stylesheet_link_tag'jquery-ui-1.8.4.custom'
    = stylesheet_link_tag'jquery.cluetip' 
    = stylesheet_link_tag 'controllers/visual_inspection' 
    = csrf_meta_tag
    %body
      = render :partial => 'layouts/header'
    #content.container_16.clearfix
      = yield

