<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Oil Contamination</title>
    <!--[if IE]><%= javascript_include_tag 'extcanvas.min' %><![endif]--> 
    <% unless @no_js %>
      <%= 
        javascript_include_tag 'jquery-1.4.2.min', 'ext-jquery-adapter', 
                              'ext-all', 'jquery-ui-1.8.4.custom.min', 
                              'jquery.blockUI', 'jquery.tmpl', 'facybox', 
                              'json2', 'jquery.url', 'jquery.tablesorter.min',
                              'jquery.cluetip', 'controllers/oil_contaminations'
      %>
      <%= yield :javascript %>
    <% end %>
    <%= stylesheet_link_tag 'ext-all', 'xtheme-gray' %>
    <%= stylesheet_link_tag '960', 'template', 'nav', 'colour' %>
    <%= stylesheet_link_tag  'facybox', 'faceplant'%>
    <%= stylesheet_link_tag'jquery-ui-1.8.4.custom' %>
    <%= stylesheet_link_tag'jquery.cluetip' %>   
    <%= stylesheet_link_tag 'buttons' %>     
    <%= stylesheet_link_tag 'controllers/oil_contaminations' %>
    <%= yield :css %>
  </head>
  <body name="<%= controller.action_name %>">
    <% unless @no_header %>
      <%= render :partial => 'layouts/header' %>    
    <% end %>
    <div id="content" class="container_16 clearfix">
      <%= yield %>
    </div>
    <% unless @no_footer %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>
    
  </body>
</html>
