<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Transformer Information: <%= controller.action_name %></title>
    <!--[if IE]><%= javascript_include_tag 'extcanvas.min' %><![endif]--> 
    <% unless @no_js %>
    <%= include_javascripts :transformer_informations %>
    <%= yield :javascript %>
    <% end %>
    <%= include_stylesheets :transformer_informations %>
    <%= yield :css %>
    <style type="text/css">
    </style>
  </head>
  <body>
    <% unless @no_header %>
      <%= render :partial => 'layouts/header' %>    
    <% end %>
    <div id="content" class="container_16 clearfix">
      <%= yield %>
    </div>
    <% unless @no_footer %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>
    
  </body>
</html>
