<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Transformer Information: <%= controller.action_name %></title>
    <%= javascript_include_tag 'jquery-1.4.2.min', 
                               'jquery-ui-1.8.4.custom.min', 'jquery.blockUI', 
                               'jquery.tmpl', 'facybox'
    %>
    <%= yield :javascript %>
    <%= stylesheet_link_tag '960', 'template', 'nav', 'colour', 'facybox', 'faceplant' %>
    <%= stylesheet_link_tag'jquery-ui-1.8.4.custom' %>
    <%= yield :stylesheet %>
  </head>
  <body>
    <% unless @no_header %>
      <%= render :partial => 'layouts/header' %>    
    <% end %>
    <div id="content" class="container_16 clearfix">
      <%= yield %>
    </div>
    <% unless @no_footer %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>
    
  </body>
</html>